/** BODY */
body {
    background: #f2f2f2;
}

/** LINKS */
a {
    outline: none!important;
}

/** SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    min-height: 100%;
    background: #fff;
    border-right:1px solid #ddd;
}
.sidebar-header {
    padding:10px;
    border-bottom: 1px solid #fff;
}
.sidebar-inner {
    position: relative;
    overflow: hidden;
}

/** --SIDEBAR GROUPS */
.sidebar-groups {
	overflow-y: scroll;
	overflow-x: hidden;
}

/** MONITORING GROUPS */
.sidebar-group {
	font-size: 30px;
	padding: 3% 6%;
	text-align: right;
	display: block;
	text-decoration: none!important;
	color: #676767;
}
.sidebar-group.active, .sidebar-group:hover, .sidebar-group:active, .sidebar-group:focus {
	color: #f9f9f9;
	background-color: #676767!important;
	transition-property: color, background-color;
	transition-duration: 0.5s;
}
.sidebar-group span {
	width: 85%;
	display: inline-block;
	text-align: left;
}
.sidebar-group strong {
	width: 15%;
	display: inline-block;
}
.sidebar-group strong i {
	width: 1em;
	height: 1em;
}

/** CONTENT WRAPPER */
.content {
    margin-left: 500px;
    position: relative;
}
.content-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  padding: 20px;
}

/** -- CONTENT GROUPS */
.group {
}

/** -- CONTENT ITEMS */
.item {
	box-shadow: 0 0 5px #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	overflow: hidden;
	max-height: 200px;
}
.item-header {
	border-radius: 5px 5px 0 0;
	background: #fff;
	margin: 0;
	padding: 0 20px;
	line-height: 50px;
}

/** -- GROUP ITEMS */
.jobs {
	height: 150px;
}
.job {
	overflow: hidden;
}
.job.animated {
	background-repeat: repeat!important;
}
.job-header {
	margin: 20px;
}

/* ANIMATED ITEM JOBS */
.job.animated {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
          
	  background-color: #149bdf;
	  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,0.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.15)),color-stop(.75,rgba(255,255,255,0.15)),color-stop(.75,transparent),to(transparent));
	  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	  background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	  -webkit-background-size: 40px 40px;
	  -moz-background-size: 40px 40px;
	  -o-background-size: 40px 40px;
	  background-size: 40px 40px;
}
.job.animated.bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,0.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.15)),color-stop(.75,rgba(255,255,255,0.15)),color-stop(.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
.job.animated.bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,0.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.15)),color-stop(.75,rgba(255,255,255,0.15)),color-stop(.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
.job.animated.bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,0.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.15)),color-stop(.75,rgba(255,255,255,0.15)),color-stop(.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
.job.animated.bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,0.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.15)),color-stop(.75,rgba(255,255,255,0.15)),color-stop(.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
.job.disabled {
	background: #f0f0f0!important;
	color: #ccc;
}

/** --SIDEBAR SHRINKING  & CONTENT EXPANDING */
.sidebar.shrink {
    width: 55px;
    max-width: 55px;
    text-align: center;
}
.sidebar.shrink .sidebar-header {
    padding: 10px 0;
}
.sidebar.shrink .sidebar-header a {
    float: none;
    margin-bottom: 5px;
}
.sidebar.shrink .sidebar-header a.last {
    margin-bottom: 0;
}
.sidebar.shrink .sidebar-group span {
	display: none;
}
.sidebar.shrink .sidebar-group {
	text-align: center;
	padding: 5px 0;
}
.sidebar.shrink .sidebar-group strong, .sidebar.shrink.sidebar-group strong i {
	width: auto;
}
.content.expand {
    margin-left: 55px;
}

/** TEXT EFFECTS (?) */

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

@keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

/** RESPONSIVE LAYOUTS */
@media (max-width: 979px) {
   /** --SIDEBAR SHRINKING  & CONTENT EXPANDING */
	.sidebar {
	    width: 55px;
	    max-width: 55px;
	    text-align: center;
	}
	.sidebar .sidebar-header {
	    padding: 10px 0;
	}
	.sidebar .sidebar-header a {
	    float: none;
	    margin-bottom: 5px;
	}
	.sidebar .sidebar-header a.last {
	    margin-bottom: 0;
	}
	.sidebar .sidebar-group span {
		display: none;
	}
	.sidebar .sidebar-group {
		text-align: center;
		padding: 5px 0;
	}
	.sidebar .sidebar-group strong, .sidebar.sidebar-group strong i {
		width: auto;
	}
	.content {
	    margin-left: 55px;
	}
	.sidebar-toggle {
		display: none;
	}
}